:root {
    /* Cores */
    --cor-principal: #121212;
    --cor-secundaria: #FFFFFF;
    --cor-terciaria: #BE4949;
    --cor-auxiliar: #1E1E1E;
    --cor-border: #3F3F3F;

    /* Font-Size */
    --font-principal: 1.75rem;
    /* 28px */
    --font-secundaria: 1.25rem;
    /* 20px */
    --font-terciaria: 1.125rem;
    /* 18px */

    /* Tamanho */
    --height-button: 2.5rem;
    --width-button: 6.25rem;
    --height-input: 3.125rem;
}

html {
    font-size: 100%;

    body {
        header {
            background-color: var(--cor-principal);
            position: sticky;
            top: 0;
            max-width: 430px;
            width: 100%;
            height: 100px;
            z-index: 9999;
            margin: 0 auto;
        }

        section {
            min-height: calc(100vh - 100px);
            width: 430px;
            margin: 0 auto;
        }

        .site {
            max-width: 93.02%;
            width: 100%;
            height: 100%;
            margin: 0 auto;

            .tituloTela {
                display: flex;
                justify-content: center;
                font-size: var(--font-principal);
                gap: .5rem;

                img {
                    width: 2.5rem;
                    position: absolute;
                    margin-right: 22rem;
                    cursor: pointer;
                }

                h2 {
                    color: var(--cor-secundaria);
                }

                span {
                    color: var(--cor-terciaria);
                }
            }
        }

        footer {
            background-color: var(--cor-principal);
            position: sticky;
            bottom: 0;
            max-width: 430px;
            width: 100%;
            height: 100px;
            z-index: 99999;
            margin: 0 auto;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        p,
        a,
        li,
        button,
        input,
        span,
        label,
        textarea,
        select {
            font-family: "Antonio", sans-serif;
            font-optical-sizing: auto;
            font-weight: 600;
            font-style: normal;
            line-height: 1.2;
        }
    }
}


/* Header */
.not-login {
    background-color: transparent;

    .site {
        justify-items: center;
        align-content: center;

        h1 {
            color: var(--cor-terciaria);
            font-size: 1.625rem;
        }
    }
}

.yes-login {
    .site {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            color: var(--cor-terciaria);
            font-size: 1.625rem;
        }

        img {
            width: 3rem;
            height: 3rem;
            cursor: pointer;
        }
    }
}






/* Login */
.login {
    display: grid;
    align-content: center;

    .site {
        .form-login {
            display: flex;
            flex-direction: column;
            gap: 3.4rem;

            .form-login__title {
                text-align: center;
                font-size: var(--font-principal);

                h2 {
                    color: var(--cor-secundaria);
                }

                span {
                    color: var(--cor-terciaria);
                }
            }

            .form-login__content {
                form {
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;

                    .__content__email,
                    .__content__senha {
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;

                        label {
                            color: var(--cor-secundaria);
                            font-size: var(--font-terciaria);
                        }

                        .__senha__label {
                            display: flex;
                            justify-content: space-between;

                            label {
                                display: flex;
                                align-items: end;
                            }

                            .__senha__whatsapp {
                                display: flex;
                                justify-content: center;

                                button {
                                    height: 2rem;
                                    font-size: 1rem;
                                    border: none;
                                }

                                button:nth-child(1) {
                                    border-radius: 5px 0 0 5px;
                                    cursor: pointer;
                                }

                                button:nth-child(2) {
                                    border-radius: 0 5px 5px 0;
                                    cursor: pointer;
                                }

                                .ativo {
                                    background-color: var(--cor-terciaria);
                                    color: var(--cor-secundaria);

                                }

                                .inativo {
                                    background-color: var(--cor-secundaria);
                                    color: var(--cor-terciaria);
                                }
                            }
                        }

                        input {
                            background-color: var(--cor-auxiliar);
                            color: var(--cor-secundaria);
                            height: var(--height-input);
                            font-size: 1rem;
                            padding-left: 1rem;
                            border: solid 2px var(--cor-border);
                            border-radius: 10px;
                        }

                        input:focus {
                            outline: none;
                        }
                    }

                    .__content__button {
                        display: flex;
                        justify-content: space-between;

                        button {
                            height: var(--height-button);
                            width: var(--width-button);
                            font-size: var(--font-terciaria);
                            border-radius: 10px;
                            border: none;
                            cursor: pointer;
                        }

                        a {
                            button {
                                background-color: var(--cor-secundaria);
                                color: var(--cor-terciaria);
                            }
                        }

                        >button {
                            background-color: var(--cor-terciaria);
                            color: var(--cor-secundaria);
                        }
                    }
                }
            }
        }
    }
}

.fundo-login {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 430px;
    z-index: -1;
    box-shadow: inset 0 0 50px var(--cor-principal);
}

.fundo-login::after {
    content: '';
    position: absolute;
    top: 0;
    height: 100vh;
    width: 430px;
    background-color: var(--cor-principal);
    opacity: 0.7;
}




/* Cadastro */
.cadastro {
    display: grid;
    align-content: center;

    .site {
        .form-cadastro {
            display: flex;
            flex-direction: column;
            gap: 3.125rem;

            .form-cadastro__title {
                h2 {
                    color: var(--cor-secundaria);
                    font-size: var(--font-principal);
                    text-align: center;
                }

                span {
                    color: var(--cor-terciaria);
                }
            }

            .form-cadastro__content {
                display: flex;
                flex-direction: column;
                gap: 2rem;

                .__content__input {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    label {
                        color: var(--cor-secundaria);
                        font-size: var(--font-terciaria);
                    }

                    input {
                        background-color: var(--cor-principal);
                        height: var(--height-input);
                        border: solid 2px var(--cor-border);
                        padding-left: 1rem;
                        font-size: 1rem;
                        color: var(--cor-secundaria);
                        border-radius: 10px;
                    }

                    input:focus {
                        outline: none;
                    }
                }

                .__content__button {
                    display: flex;
                    justify-content: space-between;

                    a {
                        button {
                            background-color: var(--cor-secundaria);
                            color: var(--cor-terciaria);
                            height: var(--height-button);
                            width: 9.375rem;
                            border: none;
                            border-radius: 10px;
                            font-size: var(--font-terciaria);
                            cursor: pointer;
                        }
                    }

                    >button {
                        background-color: var(--cor-terciaria);
                        color: var(--cor-secundaria);
                        height: var(--height-button);
                        width: var(--width-button);
                        border: none;
                        border-radius: 10px;
                        font-size: var(--font-terciaria);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.fundo-cadastro {
    background-size: cover;
    background-position: -250px;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 430px;
    z-index: -1;
    box-shadow: inset 0 0 50px var(--cor-principal);
}

.fundo-cadastro::after {
    content: '';
    position: absolute;
    top: 0;
    height: 100vh;
    width: 430px;
    background-color: var(--cor-principal);
    opacity: 0.5;
}





/* Inicio */
.banner {
    background-size: cover;
    background-position: center;
    min-height: 300px;
    display: grid;
    align-content: center;
    box-shadow: inset 0 -50px 40px var(--cor-principal);
    z-index: -1;

    .site {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        h2 {
            display: grid;
            width: 80%;
            margin: 0 auto;
            color: var(--cor-secundaria);
            justify-items: center;
            font-size: 2.5rem;
            text-align: center;
            z-index: 1;
        }

        .banner__content {
            display: flex;
            flex-direction: column;
            width: 80%;
            gap: 1rem;
            z-index: 1;

            h3 {
                color: var(--cor-secundaria);
                font-size: var(--font-secundaria);

                span {
                    color: var(--cor-terciaria);
                    font-size: var(--font-secundaria);
                }
            }

            button {
                background-color: var(--cor-terciaria);
                color: var(--cor-secundaria);
                height: var(--height-button);
                width: 9rem;
                font-size: 1rem;
                border-radius: 10px;
                border: none;
            }
        }
    }
}

.banner::after {
    content: '';
    background-color: var(--cor-principal);
    position: absolute;
    top: 100px;
    width: 430px;
    height: 300px;
    opacity: 0.4;
    z-index: 0;
}

.carrosel {
    display: flex;
    align-items: center;
    background-color: var(--cor-principal);
    min-height: 5rem;

    .site {
        display: flex;
        justify-content: center;

        .carrosel {
            display: flex;
            gap: 2rem;
            font-size: var(--font-secundaria);

            h2 {
                color: var(--cor-secundaria);
            }

            span {
                color: var(--cor-terciaria);
            }
        }
    }
}

.servicos {
    background-color: var(--cor-principal);
    min-height: 70vh;

    .site {
        display: grid;
        grid-template-columns: 45% 45%;
        justify-content: space-around;
        row-gap: 3rem;

        >div {
            display: flex;
            flex-direction: column;
            background-size: cover;
            background-position: center;
            justify-content: end;
            width: 100%;
            height: 170px;
            border-radius: 20px;
            outline: solid 2px var(--cor-terciaria);

            .texto-servico {
                color: var(--cor-secundaria);
                display: flex;
                flex-direction: column;
                margin-left: 0.5rem;
                margin-bottom: 1rem;
                font-size: var(--font-terciaria);
                gap: 0.5rem;
                z-index: 1;
            }
        }

        >div::after {
            content: "";
            position: absolute;
            background-color: var(--cor-principal);
            width: 180px;
            height: 170px;
            border-radius: 20px;
            z-index: 0;
            opacity: 0.5;
        }
    }
}

.contato {
    background-color: var(--cor-principal);
    min-height: 85vh;
    padding-top: 4rem;

    .site {
        display: flex;
        flex-direction: column;
        gap: 5rem;

        h2 {
            text-align: center;
            color: var(--cor-secundaria);
            font-size: var(--font-principal);

            span {
                color: var(--cor-terciaria);
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            div {
                display: flex;
                flex-direction: column;
                gap: 0.8rem;

                label {
                    color: var(--cor-secundaria);
                    font-size: var(--font-secundaria);
                }

                input {
                    background-color: var(--cor-auxiliar);
                    color: var(--cor-secundaria);
                    font-size: var(--font-terciaria);
                    height: var(--height-input);
                    border-radius: 5px;
                    padding-left: 1rem;
                    border: none;
                    outline: solid 2px var(--cor-border);
                }

                textarea {
                    background-color: var(--cor-auxiliar);
                    font-size: var(--font-terciaria);
                    color: var(--cor-secundaria);
                    height: 120px;
                    border-radius: 5px;
                    padding-left: 1rem;
                    padding-top: 1rem;
                    border: none;
                    outline: solid 2px var(--cor-border);
                }
            }

            .btnEnviarLimpar {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                p {
                    color: var(--cor-terciaria);
                    font-size: var(--font-secundaria);
                    text-decoration: underline;
                    display: inline;
                    cursor: pointer;
                }

                button {
                    background-color: var(--cor-terciaria);
                    color: var(--cor-secundaria);
                    font-size: var(--font-secundaria);
                    height: var(--height-button);
                    width: var(--width-button);
                    border-radius: 20px;
                    border: none;
                    outline: none;
                }
            }
        }
    }
}



/* Detalhes */
.detalhe {
    background-color: var(--cor-principal);
    min-height: 78vh;
    display: grid;

    .site {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 6rem;

        .tituloTela {
            margin-top: 4rem;
        }

        .conteudoDetalhe {
            display: flex;
            flex-direction: column;
            gap: 5rem;

            .servicoCombo {
                background-size: cover;
                background-position: center;
                color: var(--cor-secundaria);
                font-size: var(--font-secundaria);
                height: 300px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1.6rem;
                border: solid 2px var(--cor-terciaria);
                border-radius: 20px;

                .fundoServicoCombo {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: 300px;
                    width: 400px;
                    background-color: var(--cor-principal);
                    opacity: 0.6;
                    border-radius: 20px;
                }

                p,
                .nomeValor {
                    z-index: 1;
                    padding-left: 1rem;
                    padding-right: 1rem;
                }

                p {
                    line-height: 1.5;
                }

                .nomeValor {
                    display: flex;
                    justify-content: space-between;
                }

                button {
                    background-color: var(--cor-secundaria);
                    color: var(--cor-terciaria);
                    font-size: var(--font-terciaria);
                    width: 35%;
                    height: 2rem;
                    z-index: 1;
                    border: none;
                    border-radius: 10px;
                    margin-left: 15.4rem;
                }
            }

            >button {
                height: var(--height-button);
                background-color: var(--cor-terciaria);
                color: var(--cor-secundaria);
                font-size: var(--font-secundaria);
                border: none;
                outline: none;
                border-radius: 10px;
            }
        }
    }
}


/* Faça Agendamento */
.agendamento {
    background-color: var(--cor-principal);
    min-height: 100vh;

    .site {
        padding-top: 2rem;

        .conteudoAgendamento {
            margin-top: 5rem;

            form {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                >div {
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;

                    input,
                    select {
                        background-color: var(--cor-auxiliar);
                        color: var(--cor-secundaria);
                        height: var(--height-input);
                        font-size: var(--font-terciaria);
                        outline: none;
                        border: solid 2px var(--cor-border);
                        border-radius: 10px;
                        padding-left: 1rem;
                    }

                    label {
                        color: var(--cor-secundaria);
                        font-size: var(--font-terciaria);
                    }
                }

                .servicoAgendamento {
                    font-size: var(--font-secundaria);
                    gap: 4rem;

                    h2 {
                        text-align: center;
                        color: var(--cor-secundaria);

                        span {
                            color: var(--cor-terciaria);
                        }
                    }

                    .servicosCombos {
                        display: grid;
                        grid-template-columns: 45% 45%;
                        row-gap: 2rem;
                        justify-content: space-between;

                        >div {
                            background-size: cover;
                            background-position: center;
                            display: grid;
                            grid-template-columns: 70% 30%;
                            justify-content: space-between;
                            height: 180px;
                            border-radius: 20px;
                            border: solid 2px var(--cor-terciaria);

                            .selecionar {
                                accent-color: var(--cor-terciaria);
                            }

                            .nomeValorAgendamento {
                                color: var(--cor-secundaria);
                                display: flex;
                                flex-direction: column;
                                justify-content: end;
                                gap: .5rem;
                                padding-left: .5rem;
                                padding-bottom: 1rem;

                                h3 {
                                    font-size: 1rem;
                                }
                            }
                        }
                    }
                }

                button {
                    background-color: var(--cor-terciaria);
                    color: var(--cor-secundaria);
                    height: var(--height-button);
                    border: none;
                    border-radius: 10px;
                    outline: none;
                    font-size: var(--font-secundaria);
                    cursor: pointer;
                    transition: 0.3s all;
                }

                button:hover {
                    background-color: var(--cor-secundaria);
                    color: var(--cor-terciaria);
                }
            }
        }
    }
}




/* Meus Agendamentos */
.meuAgendamento {
    min-height: 78vh;

    .site {
        padding-top: 4rem;
        padding-bottom: 4rem;
        display: grid;
        gap: 6rem;

        .conteudoMeuAgendamento {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .caixaAgendamento {
                background-color: var(--cor-auxiliar);
                display: grid;
                grid-template-columns: 55% 45%;
                align-content: center;
                box-sizing: border-box;
                border-bottom: solid 3px rgb(250, 250, 0);
                box-shadow: 0 5px 20px -10px yellow;
                height: 18rem;
                padding-left: 1rem;
                padding-right: 1rem;
                border-radius: 20px;

                .caixaAgendamento__dadosCliente {
                    color: var(--cor-secundaria);
                    display: flex;
                    flex-direction: column;
                    gap: 1.1rem;

                    h2 {
                        font-size: 1.6rem;
                    }

                    h3 {
                        font-size: var(--font-terciaria);
                    }

                    p {
                        span {
                            color: var(--cor-terciaria);
                        }
                    }

                    button {
                        background-color: var(--cor-terciaria);
                        color: var(--cor-secundaria);
                        height: var(--height-button);
                        width: 60%;
                        font-size: var(--font-secundaria);
                        border: none;
                        outline: none;
                        border-radius: 10px;
                    }
                }

                .caixaAgendamento__dadosServico {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .caixaAgendamento__status {
                        display: flex;
                        justify-content: space-between;

                        span {
                            background-color: rgba(250, 250, 0, 0.358);
                            color: var(--cor-secundaria);
                            padding: .5rem .8rem;
                            border-radius: 20px;
                        }
                    }

                    .caixaAgendamento__servicoData {
                        color: var(--cor-secundaria);

                        >div {
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;
                            margin-bottom: 3rem;

                            h3 {
                                color: var(--cor-terciaria);
                                font-size: var(--font-secundaria);
                                text-align: end;
                            }

                            p {
                                text-align: center;
                            }
                        }

                        h3 {
                            font-size: .9rem;
                            text-align: center;
                        }
                    }
                }
            }

            .concluido {
                box-sizing: border-box;
                border-bottom: solid 3px rgb(0, 250, 0);
                box-shadow: 0 5px 20px -10px rgb(17, 255, 0);

                .caixaAgendamento__dadosServico {
                    .caixaAgendamento__status {
                        span {
                            background-color: rgba(0, 255, 0, 0.324);
                        }
                    }
                }
            }
        }
    }
}




/* Footer */
footer {
    .site {
        display: grid;

        nav {
            display: grid;
            align-content: center;

            ul {
                display: flex;
                justify-content: space-between;

                li {
                    display: grid;
                    justify-items: center;
                    gap: 0.2rem;

                    img {
                        width: 2.2rem;
                    }

                    p {
                        color: var(--cor-secundaria);
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}



/* Menu */
.menu {
    background-color: var(--cor-principal);
    min-height: 73.5vh;
}

.conteiner-menu {
    text-align: center;
    margin: 0 auto;
    justify-items: center;
    display: grid;
    padding: 100px 62px;
}

.box-menu {
    width: 250px;
    height: 60px;
    background-color: #3f3f3f54;
    border-radius: 10px;
    margin-bottom: 35px;
    display: flex;
    box-shadow: 0px 2px 3px #f1070759;
    transition: all 0.5s ease-out;

    h2 {
        margin: 20px -5px;
        color: white;
        font-weight: 300;
        width: 160px;
    }

    img {
        width: 35px;
        height: 35px;
        padding: 12px 14px;
    }
}

.box-menu:hover {
    transform: scale(1.1);
}

.button-menu {
    width: 140px;
    height: 35px;
    background-color: var(--cor-auxiliar);
    border: none;
    border-radius: 12px;
    display: flex;
    transition: all 0.5s ease;
    margin-top: 20px;
    box-shadow: 0px 1px 10px #ff0000;
}

.button-menu:hover {
    background-color: var(--cor-border);
}

.button-menu:hover {
    transform: scale(1.1);
}






/* Informações do Login */
.info {
    background-color: var(--cor-principal);
}

.tt-info {
    color: #FFFFFF;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;
}

.container-info {
    text-align: center;
    display: grid;
    justify-items: center;
}

.box-info {
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    margin-top: 40px;
}

.box-info label {
    color: #BE4949;
    font-size: var(--font-secundaria);
    text-align: justify;
    margin-bottom: 2px;
    margin-top: 10px;
}

.box-info input {
    border: none;
    width: 300px;
    height: 30px;
    background-color: var(--cor-principal);
    color: #FFFFFF;
    font-size: var(--font-terciaria);
    margin-top: 8px;
}

.box-info input:focus {
    border: none;
    outline: none;
}

.linha-input {
    border-bottom: solid 1.5px var(--cor-terciaria);
    background-color: var(--cor-principal);
}

.button-info {
    background-color: #BE4949;
    border-radius: 10px;
    width: 130px;
    height: 35px;
    font-size: var(--font-terciaria);
    text-align: center;
    border: none;
    color: #FFFFFF;
    transition: all 0.5s ease;
    box-shadow: 0px 0px 5px #d4d4d4;
    margin-top: 70px;
}

.button-info:hover {
    transform: scale(1.1);
}



/* Perguntas */
.container-perguntas {
    width: 400px;
    height: 250px;
    background-color: var(--cor-auxiliar);
    border-radius: 25px;
}

.info1-perguntas {
    color: #fff;
    width: 210px;
    height: 90px;
    padding: 0.8rem 0.8rem;
}

.info2-perguntas {
    color: #fff;
    width: 150px;
    text-align: end;
    padding: 1rem 0rem;
    font-size: var(--font-terciaria);
}

.info3-perguntas {
    color: #fff;
    font-size: var(--font-terciaria);
}

.info3-perguntas h2 {
    padding: 0rem 1rem;
}

.nome-perguntas {
    font-size: var(--font-principal);
    color: var(--cor-terciaria);
}

.gmail-perguntas {
    font-size: var(--font-secundaria);
}

.telefone-perguntas {
    font-size: var(--font-terciaria);
    line-height: 30px;
}

.tudo-info1 {
    display: flex;
}

.exibir-perguntas {
    background-color: #fff;
    border: none;
    border-radius: 7px;
    width: 150px;
    height: 40px;
    font-size: 1.1rem;
    color: var(--cor-terciaria);
    margin-top: 20px;
    margin-left: 15px;
}

.exibir-resposta {
    display: none;
    color: #fff;
    margin-top: 10px;
    padding: 10px;
    background: var(--cor-auxiliar);
    border-radius: 5px;
}

.nenhum-comentario {
    color: var(--cor-secundaria);
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: var(--cor-terciaria);
}




/* Serviços */
.servicos-todos {
    background-color: var(--cor-principal);

}

.box-detalhe-servico {
    height: 260px;
    background-position: center;
    background-size: cover;
    border-radius: 25px;
}

.container-todos-servicos {
    width: 395px;
    height: 260px;
    border: solid 2px var(--cor-terciaria);
    border-radius: 25px;
    margin-top: 50px;
}

.box-detalhe-servico h2 {
    font-size: var(--font-principal);
    color: #fff;
    font-weight: 400;
    padding: 1.2rem 1.5rem;
}

.box-detalhe-servico p {
    color: #fff;
    font-size: var(--font-terciaria);
    padding: 0.7rem 1.5rem;
}

.button-todos-servicos {
    margin-left: 275px;
    margin-top: 30px;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: none;
    color: var(--cor-terciaria);
    font-size: var(--font-terciaria);
}




/* Meu agendamento */
.meuAgendamento {
    background-color: var(--cor-principal);
}